/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 
******************************************************************/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("../../bower_components/font-awesome/scss/font-awesome");

// IMPORTING STYLES

// Import normalize from Bower
@import "../../bower_components/foundation/scss/normalize";

// Import mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from Bower
// @import "../../bower_components/foundation/scss/foundation";
@import
  // "../../bower_components/foundation/scss/foundation/components/accordion",
  // "../../bower_components/foundation/scss/foundation/components/alert-boxes",
  "../../bower_components/foundation/scss/foundation/components/block-grid",
  // "../../bower_components/foundation/scss/foundation/components/breadcrumbs",
  // "../../bower_components/foundation/scss/foundation/components/button-groups",
  "../../bower_components/foundation/scss/foundation/components/buttons",
  // "../../bower_components/foundation/scss/foundation/components/clearing",
  // "../../bower_components/foundation/scss/foundation/components/dropdown",
  // "../../bower_components/foundation/scss/foundation/components/dropdown-buttons",
  // "../../bower_components/foundation/scss/foundation/components/flex-video",
  "../../bower_components/foundation/scss/foundation/components/forms",
  // "../../bower_components/foundation/scss/foundation/components/grid",
  // "../../bower_components/foundation/scss/foundation/components/inline-lists",
  // "../../bower_components/foundation/scss/foundation/components/joyride",
  // "../../bower_components/foundation/scss/foundation/components/keystrokes",
  // "../../bower_components/foundation/scss/foundation/components/labels",
  // "../../bower_components/foundation/scss/foundation/components/magellan",
  // "../../bower_components/foundation/scss/foundation/components/orbit",
  // "../../bower_components/foundation/scss/foundation/components/pagination",
  "../../bower_components/foundation/scss/foundation/components/panels",
  // "../../bower_components/foundation/scss/foundation/components/pricing-tables",
  // "../../bower_components/foundation/scss/foundation/components/progress-bars",
  // "../../bower_components/foundation/scss/foundation/components/reveal",
  // "../../bower_components/foundation/scss/foundation/components/side-nav",
  // "../../bower_components/foundation/scss/foundation/components/split-buttons",
  // "../../bower_components/foundation/scss/foundation/components/sub-nav",
  // "../../bower_components/foundation/scss/foundation/components/switches",
  "../../bower_components/foundation/scss/foundation/components/tables",
  // "../../bower_components/foundation/scss/foundation/components/tabs",
  // "../../bower_components/foundation/scss/foundation/components/thumbs",
  // "../../bower_components/foundation/scss/foundation/components/tooltips",
  "../../bower_components/foundation/scss/foundation/components/top-bar",
  "../../bower_components/foundation/scss/foundation/components/type",
  "../../bower_components/foundation/scss/foundation/components/offcanvas",
  "../../bower_components/foundation/scss/foundation/components/visibility";

// Make gallery use Foundation block grid
@import "gallery";

// Import your custom styles
@import "main";

// Import your retina/HD sty;es
@import "2x";

// Import your print styles
@import "print";

// GENERAL
h1, h2, h3, h4, h5, h6, p, abbr, label, caption, table caption {
  color: inherit;
}
abbr, label, caption {
  opacity: 0.8;
}

$anchor-visited-font-color: $purple;
$anchor-visited-font-color-hover: scale-color($anchor-visited-font-color, $lightness: -30%);
a:not(:link) {
  color: inherit;
  cursor: inherit;
}
a:visited {
  color: $anchor-visited-font-color;
  cursor: pointer;
  
  &:hover {
    color: $anchor-visited-font-color-hover;
  }
}

blockquote, pre {
  background-color: $smoke;
}
blockquote {
  color: inherit;
  border-left-width: rem-calc(3);
  padding-bottom: 0.2rem;
  p {
    color: inherit;
  }
  cite {
    color: inherit;
    font-size: inherit;
    display: inline;
    
    &:before {
      content: '';
    }
  } // cite
}

pre code {
  background: transparent;
  border: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.small {
  font-size: smaller;
}

.bordered {
  border: solid rem-calc(2) $gainsboro;
}
// END GENERAL


// HEADER
#siteTitle a {
  width: auto;
}
// END HEADER


// CONTENT
#content {
  background-color: $tuatara;
  
  #inner-content {
    padding: 0;
  }
}

// HERO
.hero {
  border-width: 0 0 $hr-border-width;
  border-color: $hr-border-color;
  box-shadow: 0 0 rem-calc(6) $black;
  margin-bottom: 0;
  
  .site-title, .tagline {
    text-align: center;
  }
  
  .site-title {
    background-color: $primary-color;
    color: white;
    padding: rem-calc(12) rem-calc(24);
    margin-right: rem-calc(48);
    margin-bottom: 0;
  }
  .tagline {
    background-color: $info-color;
    font-size: $h3-font-size;
    padding: rem-calc(8) rem-calc(24);
    margin-left: rem-calc(48);
    margin-bottom: 2rem;
  }
  @media #{$small-only} {
    img {
      display: block;
      margin: 0 auto rem-calc(12);
    }
  }
}
// END HERO

// SIDEBAR
.sidebar {
  //height: 100vh;
  background-color: $off-canvas-bg;
  color: $white;
  
  a:link {
    color: scale-color($anchor-font-color, $lightness: +10%);
    
    &:hover {
      color: scale-color($anchor-font-color-hover, $lightness: +10%);
    }
  }
  
  a:visited {
    color: scale-color($anchor-visited-font-color, $lightness: +20%);
    
    &:hover {
      color: scale-color($anchor-visited-font-color-hover, $lightness: +20%);
    }
  }
}
// END SIDEBAR


// WIDGETS
// SEARCH WIDGET
.search-form {
  .search-field, .search-submit {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    margin-bottom: rem-calc(8);
  }
  .search-field {
    margin-right: rem-calc(4);
  }
  .search-submit {
    padding: rem-calc(8);
  }
}
// END SEARCH WIDGET

// CALENDAR WIDGET
#wp-calendar caption {
  background-color: $black;
  padding: rem-calc(4);
}
// END CALENDAR WIDGET
// END WIDGETS

// MAIN
main {
  background-color: $smoke;
  
  &.columns {
    padding: 0;
  }
  > header, article, .zebra > section {
    background-color: $white;
    padding: 0 $column-gutter 1px;
  }
  article, .zebra > section {
    border-bottom: $hr-border-style 2px $hr-border-color;
    padding-bottom: $hr-margin;
    
    &:nth-of-type(even) {
      background-color: $snow;
    }
  }
  > nav {
    padding: rem-calc(4) $column-gutter;
  }
}
.article-footer {  
  .tags {
    margin-bottom: 0;
    &:not(:empty) {
      @include hr-before;
    }
  }
}
.comment-respond {
  border-top: $hr-border-width $hr-border-style $hr-border-color;
  margin-top: $hr-margin;
  padding-top: $hr-margin / 4;
}
// END MAIN
// END CONTENT


// CONTACT FORM
.recaptcha-container {
  // Show a placeholder until the Captcha loads
  position: relative;
  width: 302px;
  height: 76px;
  background: $snow;
  
  .loading {
    content: 'Loading...';
    color: $steel;
    position: absolute;
    right: 40%;
    top: 35%;
    z-index: 1;
  }
  
  iframe {
    position: relative;
    z-index: 2;
  }
}
.wpcf7-form input[type="submit"] {
  @media #{$large-up} {
    display: block;
    margin: rem-calc(6) 0;
  }
}
// END CONTACT FORM


// FOOTER
#mainFooter {
  background-color: $jet;
  color: white;
  margin-top: 0;
}
// END FOOTER