/******************************************************************

Stylesheet: Main Stylesheet

Here's where the magic happens. Here is where you import
all of your Sass files so they can compile into one
CSS file. 
******************************************************************/

@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

@import "../../bower_components/font-awesome/scss/font-awesome";

// IMPORTING STYLES

// Import normalize from Bower
@import "../../bower_components/foundation/scss/normalize";

// Import mixins
@import "mixins";

// Import local Foundation overrides - Don't link to Bower version as it will be overwritten whenever updated
@import "settings";

// Import foundation.scss from Bower
// @import "../../bower_components/foundation/scss/foundation";
@import
  // "../../bower_components/foundation/scss/foundation/components/accordion",
  // "../../bower_components/foundation/scss/foundation/components/alert-boxes",
  "../../bower_components/foundation/scss/foundation/components/block-grid",
  // "../../bower_components/foundation/scss/foundation/components/breadcrumbs",
  // "../../bower_components/foundation/scss/foundation/components/button-groups",
  "../../bower_components/foundation/scss/foundation/components/buttons",
  // "../../bower_components/foundation/scss/foundation/components/clearing",
  // "../../bower_components/foundation/scss/foundation/components/dropdown",
  // "../../bower_components/foundation/scss/foundation/components/dropdown-buttons",
  // "../../bower_components/foundation/scss/foundation/components/flex-video",
  "../../bower_components/foundation/scss/foundation/components/forms",
  // "../../bower_components/foundation/scss/foundation/components/grid",
  "../../bower_components/foundation/scss/foundation/components/inline-lists",
  // "../../bower_components/foundation/scss/foundation/components/joyride",
  // "../../bower_components/foundation/scss/foundation/components/keystrokes",
  // "../../bower_components/foundation/scss/foundation/components/labels",
  // "../../bower_components/foundation/scss/foundation/components/magellan",
  // "../../bower_components/foundation/scss/foundation/components/orbit",
  "../../bower_components/foundation/scss/foundation/components/pagination",
  "../../bower_components/foundation/scss/foundation/components/panels",
  // "../../bower_components/foundation/scss/foundation/components/pricing-tables",
  // "../../bower_components/foundation/scss/foundation/components/progress-bars",
  // "../../bower_components/foundation/scss/foundation/components/reveal",
  // "../../bower_components/foundation/scss/foundation/components/side-nav",
  // "../../bower_components/foundation/scss/foundation/components/split-buttons",
  // "../../bower_components/foundation/scss/foundation/components/sub-nav",
  // "../../bower_components/foundation/scss/foundation/components/switches",
  "../../bower_components/foundation/scss/foundation/components/tables",
  "../../bower_components/foundation/scss/foundation/components/tabs",
  // "../../bower_components/foundation/scss/foundation/components/thumbs",
  // "../../bower_components/foundation/scss/foundation/components/tooltips",
  "../../bower_components/foundation/scss/foundation/components/top-bar",
  "../../bower_components/foundation/scss/foundation/components/type",
  "../../bower_components/foundation/scss/foundation/components/offcanvas",
  "../../bower_components/foundation/scss/foundation/components/visibility";

// Make gallery use Foundation block grid
@import "gallery";

// Import your custom styles
@import "main";

// Import your retina/HD styles
@import "2x";

// Import your print styles
@import "print";

// GENERAL
h1, h2, h3, h4, h5, h6, p, abbr, label, caption, table caption {
  color: inherit;
}
abbr, label, caption {
  opacity: 0.8;
}
cite cite, em em {
  font-style: normal;
}
*[class*="block-grid"] figure {
  margin-left: 0;
  margin-right: 0;
}
figcaption {
  font-size: smaller;
}

// Placeholder styles.  With browser prefixes, yay.
$placeholder-color: $aluminum;
::-webkit-input-placeholder {
  color: $placeholder-color;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: $placeholder-color;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholder-color;
}
:-ms-input-placeholder {
  color: $placeholder-color;
}


$anchor-visited-font-color: $purple;
$anchor-visited-font-color-hover: scale-color($anchor-visited-font-color, $lightness: -30%);
a:link img:hover {
  opacity: 0.8;
}
a:not(:link) {
  color: inherit;
  cursor: inherit;
}
a:visited {
  color: $anchor-visited-font-color;
  cursor: pointer;
  
  &:hover {
    color: $anchor-visited-font-color-hover;
  }
}

blockquote, pre {
  background-color: $smoke;
}
blockquote {
  color: inherit;
  border-left-width: rem-calc(3);
  padding-bottom: 0.2rem;
  p {
    color: inherit;
  }
  cite {
    color: inherit;
    font-size: inherit;
    display: inline;
    
    &:before {
      content: '';
    }
  } // cite
}

pre code {
  background: transparent;
  border: none;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.small {
  font-size: smaller;
}

.bordered {
  border: solid rem-calc(2) $gainsboro;
}

.inline-block-list {
  @include inline-list;
  
  > li {
    float: none;
    display: inline-block;
    margin: 0 rem-calc(4) rem-calc(8);
  }
  
  &.bottom > li {
    vertical-align: bottom;
  }
  &.middle > li {
    vertical-align: middle;
  }
}
// END GENERAL


// HEADER
#siteTitle a {
  width: auto;
}
// END HEADER


// CONTENT
#content {
  background-color: $tuatara;
  
  #inner-content {
    padding: 0;
  }
}

// HERO
.hero {
  border-width: 0 0 $hr-border-width;
  border-color: $hr-border-color;
  box-shadow: 0 0 rem-calc(6) $black;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  
  .column, .columns {
    @media #{$medium-up} {
      padding-left: $column-gutter;
      padding-right: $column-gutter;
    }
  }
  
  .site-title, .tagline {
    text-align: center;
  }
  
  .site-title {
    background-color: $primary-color;
    color: white;
    padding: rem-calc(12) rem-calc(24);
    margin-right: rem-calc(48);
    margin-bottom: 0;
  }
  .tagline {
    background-color: $info-color;
    font-size: $h3-font-size;
    padding: rem-calc(8) rem-calc(24);
    margin-left: rem-calc(48);
    margin-bottom: 2rem;
  }
  @media #{$small-only} {
    img {
      display: block;
      margin: 0 auto rem-calc(12);
    }
  }
}
// END HERO

// SIDEBAR
.sidebar {
  //height: 100vh;
  background-color: $off-canvas-bg;
  color: $white;
  
  a:link {
    color: scale-color($anchor-font-color, $lightness: +10%);
    
    &:hover {
      color: scale-color($anchor-font-color-hover, $lightness: +10%);
    }
  }
  
  a:visited {
    color: scale-color($anchor-visited-font-color, $lightness: +20%);
    
    &:hover {
      color: scale-color($anchor-visited-font-color-hover, $lightness: +20%);
    }
  }
}
// END SIDEBAR


// WIDGETS
// SEARCH WIDGET
.search-form {
  .search-field, .search-submit {
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    margin-bottom: rem-calc(8);
  }
  .search-field {
    margin-right: rem-calc(4);
  }
  .search-submit {
    padding: rem-calc(8);
  }
}
// END SEARCH WIDGET

// CALENDAR WIDGET
#wp-calendar caption {
  background-color: $black;
  padding: rem-calc(4);
}
// END CALENDAR WIDGET
// END WIDGETS

// MAIN
main {
  background-color: $smoke;
  
  &.columns {
    padding: 0;
  }
  > header, article, .zebra > section {
    background-color: $white;
    
    @media #{$small-only} {
      padding: 0 $column-gutter / 2 rem-calc(1);
    }
    @media #{$medium-up} {
      padding: 0 $column-gutter rem-calc(1);
    }
  }
  article, .zebra > section {
    border-bottom: $hr-border-style 2px $hr-border-color;
    padding-bottom: $hr-margin;
    
    &:nth-of-type(even) {
      background-color: $snow;
    }
  }
  > nav {
    padding: rem-calc(4) $column-gutter;
  }
}

.entry-content {
  ul {
    li {
      margin-bottom: 0.5rem;
      max-width: 100%;
    }
    ul {
      margin-top: 0.5rem;
    }
  }
}

.article-footer {  
  .tags {
    margin-bottom: 0;
    &:not(:empty) {
      @include hr-before;
    }
  }
}
.comment-respond {
  border-top: $hr-border-width $hr-border-style $hr-border-color;
  margin-top: $hr-margin;
  padding-top: $hr-margin / 4;
}
// END MAIN
// END CONTENT


// EBOOKS
.paypal-donate {
  margin-bottom: 1.5rem;
}

.ebook {
  header, section {
    $gap: rem-calc(64);
    padding-bottom: $gap;
    border-bottom: solid rem-calc(1) $gainsboro;
    margin-bottom: $gap;
    
    *:first-child {
      margin-top: 0;
      padding-top: 0;
    }
    
    *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  
  section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
  }
}
// END EBOOKS


// CONTACT FORM
.recaptcha-container {
  // Show a placeholder until the Captcha loads
  position: relative;
  width: 302px;
  height: 76px;
  background: $snow;
  
  .loading {
    content: 'Loading...';
    color: $steel;
    position: absolute;
    right: 40%;
    top: 35%;
    z-index: 1;
  }
  
  iframe {
    position: relative;
    z-index: 2;
  }
}
.wpcf7-form input[type="submit"] {
  @media #{$large-up} {
    display: block;
    margin: rem-calc(6) 0;
  }
}
// END CONTACT FORM


// FOOTER
#mainFooter {
  background-color: $jet;
  color: white;
  margin-top: 0;
}
// END FOOTER


// TABS
.tabs {
  .active {
    a {
      box-shadow: 0 0 rem-calc(1) $aluminum;
      margin-left: rem-calc(2);
      margin-right: rem-calc(2);
    }
  }
}
// END TABS


// TABLESORTER
table.tablesorter {
  th {
    background-color: $gainsboro;
    cursor: pointer;
    position: relative;
    padding-right: 1.5em;
    
    &:after {
        text-align: right;
        font-family: 'FontAwesome';
        font-weight: normal;
        font-style: normal;
        content: '\f0dc';
        position: absolute;
        top: 0;
        right: 0.5em;
    } // th:after
    
    &.tablesorter-headerDesc, &.tablesorter-headerAsc {
      background-color: #8dbdd8;
    }
  } // th

  .tablesorter-headerDesc:after {
    content: '\f0dd';
    bottom: 0.3em;
    top: auto;
  }
  
  .tablesorter-headerAsc:after {
    content: '\f0de';
    top: 0.3em;
  }
}
// END TABLESORTER


// HANDWRITTEN BLOG POST
#handblog-container {
  width: inherit;
  
  @media #{$small-only} {
    margin-left: -$column-gutter / 2;
    margin-right: -$column-gutter / 2;
  }
  
  @media #{$medium-up} {
    margin-left: -$column-gutter;
    margin-right: -$column-gutter;
  }
  
  #typed {
    @media #{$small-only} {
      padding-left: $column-gutter / 2;
      padding-right: $column-gutter / 2;
    }
    
    @media #{$medium-up} {
      padding-left: $column-gutter;
      padding-right: $column-gutter;
    }
  }
  
  #handblog {
    // for browsers with text-only zoom
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  
    p, blockquote {
      margin: 0;
      padding: 0;
    }
    blockquote {
      border: 0;
      background-color: inherit;
    }
    
    a:link:hover {
      // Opacity trick for links that contain multiple images
      opacity: 0.8;
      
      img:hover {
        opacity: 1.0;
      }
    }
    
    .page {
      border: solid rem-calc(1) $smoke;
      margin-bottom: 1rem;
      
      @media #{$small-only} {
        // 1px border not visible on bottom of pages in Chrome on my Nexus 5
        border-bottom-width: rem-calc(2);
      }
    }
    
    #p1p1l3s1 {
      @include handblogSize(701);
    }
    #p1p1l3s2-neil {
      @include handblogSize(93);
    }
    #p1p1l3s3 {
      @include handblogSize(166);
      float: right;
    }
    #p1p1l4s1 {
      @include handblogSize(125);
      float: left;
    }
    #p1p1l4s2-gaiman {
      @include handblogSize(143);
    }
    #p1p1l4s3 {
      @include handblogSize(284);
    }
    #p1p1l4s4-susancooper {
      @include handblogSize(236);
    }
    #p1p1l4s5 {
      @include handblogSize(172);
    }
    #p3p7l2s1 {
      @include handblogSize(481);
    }
    #p3p7l2s2-randallmunroe {
      @include handblogSize(262);
    }
    #p3p7l2s3 {
      @include handblogSize(217);
    }
    #p5p2l5s1 {
      @include handblogSize(596);
    }
    #p5p2l5s2-scientificamerican {
      @include handblogSize(238);
    }
    #p5p2l5s3 {
      @include handblogSize(126);
    }
    #p6p2l3s1 {
      @include handblogSize(581);
    }
    #p6p2l3s2-comicbooks {
      @include handblogSize(236);
    }
    #p6p2l3s3 {
      @include handblogSize(143);
      float: right;
    }
    #p6p2l4s1 {
      @include handblogSize(124);
      float: left;
    }
    #p6p2l4s2 {
      @include handblogSize(465);
    }
    #p6p2l4s3 {
      @include handblogSize(371);
    }
  } // handblog
}
// END HANDWRITTEN BLOG POST